<div class="inline-feedback absolute left-0 right-0 bg-white">
    <div class="inline-feedback-wrapper mx-auto my-0 max-w-4xl">
        <div class=inline-feedback-prompt>
            <a class="open" href="#">Is something wrong?</a>
        </div>
        <form class="relative m-0 p-4" method="post" action="https://us-central1-notification-demo-service.cloudfunctions.net/send?id=ZjzwrTxcUKlAU8GBguRt">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <a class="absolute top-0 right-0 close" href="#">Close</a>
            
            {{ radioButtons('is_awesome', { '1':'Yes','2':'No'}, data.is_awesome, 'form.is_awesome', errors) }}
            {{ textArea('why_awesome', 'form.why_awesome') }}
            {{ formButtons(submitButtonText = 'Submit') }}
        </form>
    </div>
</div>